{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% block titre %}Hello {{ app.user.firstname |capitalize}} {{ app.user.lastname |upper}}{% endblock %}
{% block body %}
    <p class="text-center">
        Bienvenue sur ton compte.
        </br>
        C'est dans cet espace où tu pourras gérer toutes tes informations personnelles
    </p>
    <div class="card text-center shadow">
        <div class="card-header">
            Gérer mon mot de passe
        </div>
        <div class="card-body">
            <h5 class="card-title">Pourquoi je modifie mon mot de passe?</h5>
            <p class="card-text">Afin de protéger votre compte, nous demandons à nos clients d'entrer un mot de passe compliqué donc sécurisé. <br>
                Votre mot de passe doit faire plus de 10 caractères et contenir au moins 1 majuscule 1 chiffre et 1 caractère non-alpha numérique.</p>
        </div>
        <div class="card-footer text-muted py-3">
            <a href="{{path('account_password')}}" class="btn btnPrimary"><i class="fas fa-unlock-alt"></i> Modifier mon mot de passe</a>
        </div>
    </div>

    <div class="card text-center shadow mt-5">
        <div class="card-header">
            Gérer mes adresses
        </div>
        <div class="card-body">
            <h5 class="card-title">Mes adresses</h5>
            <p class="card-text">
                Vous pouvez dans cette rubrique modifier, ajouter ou supprimer vos adresses de livraison.
                <br>
                <i class="fas fa-exclamation-triangle fa-lg text-danger"></i> Attention! Veuillez vérifier que vos informations soient valides lors de vos achats.
            </p>
        </div>
        <div class="card-footer text-muted py-3">
            <a href="{{ path('account_address') }}" class="btn btnPrimary"><i class="fas fa-address-book"></i> Mes adresses ({{ app.user.addresses|length }})</a>
        </div>
    </div>
{% endblock %}
    {% block footer_account %}
        <div class="container">
            <hr>
            <footer class="text-justify mt-4">
                Les informations vous concernant sont destinées à notre société, responsable de traitement, afin d’exécuter vos commandes, de vous fournir les services auxquels vous souscrivez et de vous adresser des offres.<br>
                Conformément à la Règlementation applicable en matière de protection des données à caractère personnel, vous disposez des droits d’accès, de rectification et d’opposition au traitement de vos données.<br>
                Pour exercer vos droits, il vous suffit de nous contacter par e-mail à <a href="mailto:contact@la-francaise-ecolo-mode.fr">contact@la-francaise-ecolo-mode.fr</a><br>
                Vous pouvez vous opposer à tout moment et sans motif à ce que vos données soient utilisées à des fins de vous adresser des offres Maison Berger Paris.<br>
                En savoir plus sur notre politique de protection des données à caractère personnel et connaître l’intégralité de vos droits.
            </footer>
        </div>
    {% endblock %}
