{% extends 'base.html.twig' %}

{% block title %}Je m'inscris | La française écolo{% endblock %}

{% block titre %}
    Inscription
{% endblock %}

{% block body %}
    {{ form_start (form) }}
    {{ form_row (form.firstname) }}
    {{ form_row (form.lastname) }}
    {{ form_row (form.email) }}
    <span class="badge bg-danger text-white">Important!</span> <small class="text-danger">Votre mot de passe doit faire plus de 10 caractères et contenir contenir au moins 1 majuscule 1 chiffre et 1 caractère spécial</small>
    {{ form_row (form.password) }}
    {{ form_row (form.submit) }}
    {{ form_end (form) }}
{% endblock %}
